@import "@/styles/_colors";
@import "@/styles/_breakpoints";

@keyframes dropNav {
  from {
    opacity: 0%;
    transform: translateY(-20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.navbar {
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  animation: 1.5s ease 0s 1 dropNav;
  z-index: 1000;
  background: $bg-color;

  .navbar-hack {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .navbar-content {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      flex: 1;
      font-family: "JetBrains Mono", monospace;
      font-size: 1.6rem;
      padding: 0 10px 0 10px;

      p {
        margin: 0.2rem;
      }

      span {
        color: white;
      }

      .navbar-right {
        display: flex;
        cursor: pointer;

        p {
          padding: 0 6px 0 6px;
        }

        span {
          margin-top: 0.2rem;
        }

        @include tablet {
          display: none;
        }
      }

      .navbar-left,
      .navbar-right > p {
        transition: 0.1s ease;

        &:hover {
          opacity: 80%;
          scale: 102%;
        }
      }
    }
  }

  .separator {
    z-index: 2000;
    background-color: white;
    height: 1px;
  }
}
